# <h1>This is the home page for the app</h1>

# <%= link_to 'Articles listing', articles_path %>
# <%= link_to 'About page', about_path %>
<div class="container text-center text-white" id="home-container">
<div class="p-5 mb-4 bg-body-tertiary rounded-3 jumbotron">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Alpha Blog</h1>
        <p class="col-md-8 fs-4">Using a series of utilities, you can create this jumbotron, just like the one in previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to your liking.</p>
        <button class="btn btn-success btn-lg" type="button">Sign up!</button>
      </div>
    </div>
    </div>


    <footer class="footer bg-dark">
    <div class="container text-center">
      <span class="text-light" >Copyright &copy;<%= link_to "Jenny Le" , "https://ynhule.github.io/Profile_2023/", class: "text-white" %> </span>
    </div>
  </footer>